<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @machine_make_section.name %>
</p>


<%= link_to 'Edit', edit_machine_make_section_path(@machine_make_section) %> |
<%= link_to 'Back', machine_make_sections_path %>
