<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @machine_engine_size.name %>
</p>


<%= link_to 'Edit', edit_machine_engine_size_path(@machine_engine_size) %> |
<%= link_to 'Back', machine_engine_sizes_path %>
