<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @moto_cover_image_uid.name %>
</p>


<%= link_to 'Edit', edit_moto_cover_image_uid_path(@moto_cover_image_uid) %> |
<%= link_to 'Back', moto_cover_image_uids_path %>
