<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @car_domicile_type.name %>
</p>


<%= link_to 'Edit', edit_car_domicile_type_path(@car_domicile_type) %> |
<%= link_to 'Back', car_domicile_types_path %>
