<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @machine_cover_image_name.name %>
</p>


<%= link_to 'Edit', edit_machine_cover_image_name_path(@machine_cover_image_name) %> |
<%= link_to 'Back', machine_cover_image_names_path %>
