<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @moto_drive_type.name %>
</p>


<%= link_to 'Edit', edit_moto_drive_type_path(@moto_drive_type) %> |
<%= link_to 'Back', moto_drive_types_path %>
