<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @machine_user_name.name %>
</p>


<%= link_to 'Edit', edit_machine_user_name_path(@machine_user_name) %> |
<%= link_to 'Back', machine_user_names_path %>
