<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @machine_engine_model.name %>
</p>


<%= link_to 'Edit', edit_machine_engine_model_path(@machine_engine_model) %> |
<%= link_to 'Back', machine_engine_models_path %>
