<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @moto_domicile_type.name %>
</p>


<%= link_to 'Edit', edit_moto_domicile_type_path(@moto_domicile_type) %> |
<%= link_to 'Back', moto_domicile_types_path %>
