<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @machine_mileage.name %>
</p>


<%= link_to 'Edit', edit_machine_mileage_path(@machine_mileage) %> |
<%= link_to 'Back', machine_mileages_path %>
