<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @boat_body_material.name %>
</p>


<%= link_to 'Edit', edit_boat_body_material_path(@boat_body_material) %> |
<%= link_to 'Back', boat_body_materials_path %>
