<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @machine_information.name %>
</p>


<%= link_to 'Edit', edit_machine_information_path(@machine_information) %> |
<%= link_to 'Back', machine_informations_path %>
