<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @machine_year_model.name %>
</p>


<%= link_to 'Edit', edit_machine_year_model_path(@machine_year_model) %> |
<%= link_to 'Back', machine_year_models_path %>
