<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @caravan_cover_image_uid.name %>
</p>


<%= link_to 'Edit', edit_caravan_cover_image_uid_path(@caravan_cover_image_uid) %> |
<%= link_to 'Back', caravan_cover_image_uids_path %>
