<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @car_cover_image_uid.name %>
</p>


<%= link_to 'Edit', edit_car_cover_image_uid_path(@car_cover_image_uid) %> |
<%= link_to 'Back', car_cover_image_uids_path %>
