<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @boat_engine_fuel_type.name %>
</p>


<%= link_to 'Edit', edit_boat_engine_fuel_type_path(@boat_engine_fuel_type) %> |
<%= link_to 'Back', boat_engine_fuel_types_path %>
