<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @caravan_year_model.name %>
</p>


<%= link_to 'Edit', edit_caravan_year_model_path(@caravan_year_model) %> |
<%= link_to 'Back', caravan_year_models_path %>
