<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @moto_year_model.name %>
</p>


<%= link_to 'Edit', edit_moto_year_model_path(@moto_year_model) %> |
<%= link_to 'Back', moto_year_models_path %>
