<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @car_total_owner.name %>
</p>


<%= link_to 'Edit', edit_car_total_owner_path(@car_total_owner) %> |
<%= link_to 'Back', car_total_owners_path %>
