<h3>Welcome! <%= @user.name %></h3>

<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
         </td>
    <td class="sidebar round">
          </td>
  </tr>
</table>


