<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @registration_number.name %>
</p>


<%= link_to 'Edit', edit_registration_number_path(@registration_number) %> |
<%= link_to 'Back', registration_numbers_path %>
