<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @boat_asking_price.name %>
</p>


<%= link_to 'Edit', edit_boat_asking_price_path(@boat_asking_price) %> |
<%= link_to 'Back', boat_asking_prices_path %>
