<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @cover_image_name.name %>
</p>


<%= link_to 'Edit', edit_cover_image_name_path(@cover_image_name) %> |
<%= link_to 'Back', cover_image_names_path %>
