<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @moto_engine_size.name %>
</p>


<%= link_to 'Edit', edit_moto_engine_size_path(@moto_engine_size) %> |
<%= link_to 'Back', moto_engine_sizes_path %>
