<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @machine_fuel_type.name %>
</p>


<%= link_to 'Edit', edit_machine_fuel_type_path(@machine_fuel_type) %> |
<%= link_to 'Back', machine_fuel_types_path %>
