<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @moto_registration_number.name %>
</p>


<%= link_to 'Edit', edit_moto_registration_number_path(@moto_registration_number) %> |
<%= link_to 'Back', moto_registration_numbers_path %>
