<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @boat_user_name.name %>
</p>


<%= link_to 'Edit', edit_boat_user_name_path(@boat_user_name) %> |
<%= link_to 'Back', boat_user_names_path %>
