<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @boat_user_email.name %>
</p>


<%= link_to 'Edit', edit_boat_user_email_path(@boat_user_email) %> |
<%= link_to 'Back', boat_user_emails_path %>
