<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @moto_user_phone.name %>
</p>


<%= link_to 'Edit', edit_moto_user_phone_path(@moto_user_phone) %> |
<%= link_to 'Back', moto_user_phones_path %>
