<h1 align="left">Palvelun kuvaus</h1>
<p>
 <align="left">
 <a href="http://ajoneuvoforum.fi/">Ajoneuvoforum</a> on palvelu, joka on tarkoitettu yhdistämään niin ajoneuvojen myynnistä kuin ostamisesta kiinnostuneet myyjät ja ostajat samaan palveluun. Palvelun tarkoituksena on tarjota käyttäjille kokonaisvaltaisia ratkaisuja vastaamaan heidän tarpeidensa vaatimuksia. 
</p>

