<h1>Advanced search</h1>
<p>
 <html>
<head>

<body>
<h3>Car Type</h3>

<form name="myform" action="http://www.mydomain.com/myformhandler.cgi" method="POST">
<div align="left">
<select name="mydropdown">
<option value="Any">Any</option>
<option value="Van">Van</option>
<option value="Minibus">Minibus</option>
<option value="Light truck">Light truck</option>

</select>
</div>
</form>
<div>


</body>
</html></p>

