<h1>Usage rights</h1>
<p>
 Käyttöehdot - Nettiforum.ﬁ (sis. Vuokraforum.fi, asuntoforum.fi, ajoneuvoforum.fi, duuniforum.fi)

Yleistä

Tämä asiakirja pitää sisällään Agilo Partners Oy:n (Palveluntarjoaja) tuottaman ja ylläpitämän Nettiforum.ﬁ-palvelun, sekä kaikkien tämän alasivustojen (”Palvelu”) käyttöön sovellettavat ehdot ja määräykset.
Ennen Palvelun käyttöä tulee käyttäjän tutustua käyttöehtoihin huolellisesti. Käyttämällä palvelua käyttäjä sitoutuu noudattamaan tässä asiakirjassa lueteltuja ehtoja ja määräyksiä kaikilta osin.

Palvelun määrittely

Palvelulla ja sen käyttämisellä tarkoitetaan kaikenlaista Nettiforum.ﬁ -sivuston käyttämistä. Palvelun käyttöä on mm. sivustolla olevien ilmoitusten selailu, omien ilmoitusten jättäminen jne. Kaikentyyppinen sivustolla tapahtuva toiminta luetaan palvelun käyttämiseksi ja sen tulee tapahtua tässä asiakirjassa määriteltyjen ehtojen puitteissa.

Käyttäjän oikeudet ja velvollisuudet

Käyttäjä on oikeutettu käyttämään Palvelua tässä asiakirjassa lueteltujen ehtojen sekä Suomen lain mukaisiin tarkoituksiin.
Luonnollisen henkilön ilmoittaessa Palvelun käyttö vaadi eri rekisteröitymistä, vaan jättäessään ilmoituksen käyttäjä saa sähköpostitse tunnuksen joka mahdollistaa ilmoituksen muokkaamisen ja poistamisen myöhempänä ajankohtana. Käyttäjä on vastuussa jättämänsä ilmoituksen sisällöstä sekä sen asiallisuudesta.
Kun ilmoittajana on yritys / kiinteistönvälittäjä, tulee ilmoittajan ennen ilmoitustensa jättämistä ottaa yhteyttä palveluntarjoajaan ja sopia Palvelun käyttöön liittyvistä maksuista ja velvoitteista.
Voidakseen käyttää Palveluun kuuluvia maksullisia palveluita, edellytetään alle 18-vuotiaalta tai muutoin vajaavaltaiselta edunvalvojan/holhoojan suostumus.
Käyttäjän tulee varmistua ettei hän Palvelua käyttäessään aiheuta turhaa häiriötä taikka tahallisesti loukkaa Palveluan osapuolien oikeuksia. Palvelua käyttäessään Käyttäjä sitoutuu toimimaan kaikin tavoin Suomen lain sekä hyvän tavan mukaisesti. Käyttäjä ei saa levittää tai välittää Palvelussa materiaalia jonka levittämiseen tai välittämiseen hänellä ei ole oikeutta.

Maksulliset palvelut

Käyttäjä on vastuussa käyttämistään maksullisista palveluista ja niistä aiheutuvista kustannuksista täysimääräisesti.

Ilmoittaminen Palvelussa

Käyttäjällä on lupa jättää ilmoitus siten kuin se on Suomen lain sekä hyvän tavan mukainen ja hänellä on tähän toimintaan oikeus. Käyttäjän on varmistuttava siitä että ilmoituksissaan antamat tiedot pitävät paikkansa: Siltä osin kuin niistä löydetään virheitä tai niissä tapahtuu muutoksia, on korjaavat toimenpiteet suoritettava ensi tilassa. Käyttäjä vastaa Palveluun antamiensa tietojen oikeellisuudesta.
Palveluntarjoajalla on oikeus vastikkeetta muokata, kopioida sekä julkaista materiaalia jonka Käyttäjä on ilmoittaessaan tuonut palvelunkäyttäjien saataville.
Palveluntarjoajan on mahdollista hakea vahingonkorvauksia käyttäjältä mikäli tämä toimii näissä käyttöehdoissa lueteltujen ehtojen ja määräysten vastaisesti.

Palveluntarjoajan oikeudet

Mikäli käyttäjä julkaisee Palvelussa tämän asiakirjan mukaisten käyttöehtojen, Suomen lain taikka muutoin hyvän tavan vastaista materiaalia, on Palveluntarjoajalla rajaton oikeus muokata taikka kokonaan poistaa kyseisenlainen aineisto.
Palveluntarjoajalla on oikeus muuttaa taikka muokata Palvelua sekä sen muodostavaa palvelukokonaisuutta. Mahdollisista pientä suuremmista muutoksista pyritään ilmoittamaan Palvelun käyttäjille ensi tilassa. Palveluntarjoaja varaa itsellään myöskin oikeuden palveluntarjonnan keskeyttämiseen.
Palveluntarjoajalla on oikeus muutoksiin hinnoittelussa sekä maksuperusteissa.
Mainonta

Palveluun jätetyt mainokset ja muut julkaisut pyritään julkaisemaan sovittujen ehtojen mukaisesti. Mikäli mainosta tai muuta julkaisua ei pystytä julkaisemaan Palveluntarjoajasta riippumattomasta syystä, Palveluntarjoaja ei vastaa tästä mahdollisesti aiheutuvasta menetyksestä eikä ole velvoitettu tarjoamaan minkäänlaista vahingonkorvausta. Mahdolliset mainontaan liittyvät tyytymättömyydenilmaisut on toimitettava Palveluntarjoajan tietoisuuteen 10 arkipäivän sisällä mainoksen julkaisemisesta taikka aiotusta julkaisupäivämäärästä.
Käyttäjän tulee maksaa Palveluntarjoajan lähettämät laskut viimeistään eräpäivään mennessä. Maksun viivästyessä Palveluntarjoaja on oikeutettu lainmukaiseen viivästyskorkoon sekä lähetetyistä maksuhuomautuksista aiheutuneisiin lisäkorvauksiin. Äärimmäinen pakkokeino on estää Palvelun käyttö.


Tietosuoja

Käyttäjän antamia tietoja käytetään Palveluun kuuluviin ja Palvelun käyttöä tukeviin tarkoituksiin. Luovutettuja tietoja saatetaan käyttää tilastointitarkoituksiin sekä Palveluntarjoajan tai kolmannen osapuolen suorittamiin mainonta- sekä (suora)markkinointitoimenpiteisiin.

Palveluntarjoaja on oikeutettu julkaisemaan Palveluun saatettu aineisto (tai vain osa siitä) Palveluntarjoajan tai kolmannen osapuolen omistamissa muissa viestimissä.
Lopuksi

Palvelun sisältämä aineisto on tavaramerkkioikeudella, tekijänoikeudella sekä muilla oikeuksilla suojattu. Aineiston käyttö muihin kuin Palveluun kuuluviin kaupallisiin tarkoituksiin ilman Palveluntarjoajan lupaa on ehdottomasti kielletty.
Mikäli Palveluntarjoaja ja Käyttäjä eivät pääse jostakusta asiasta yksimielisyyteen, viedään riita-asia tuomioistuimen ratkaistavaksi Helsingin käräjäoikeuteen.
 /a>.
 
 
</p>

