<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @car_drive_type.name %>
</p>


<%= link_to 'Edit', edit_car_drive_type_path(@car_drive_type) %> |
<%= link_to 'Back', car_drive_types_path %>
