<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @car_acceleration.name %>
</p>


<%= link_to 'Edit', edit_car_acceleration_path(@car_acceleration) %> |
<%= link_to 'Back', car_accelerations_path %>
