<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @moto_gearbox_type.name %>
</p>


<%= link_to 'Edit', edit_moto_gearbox_type_path(@moto_gearbox_type) %> |
<%= link_to 'Back', moto_gearbox_types_path %>
