<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @boat_engine_make.name %>
</p>


<%= link_to 'Edit', edit_boat_engine_make_path(@boat_engine_make) %> |
<%= link_to 'Back', boat_engine_makes_path %>
