<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @car_color_type.name %>
</p>


<%= link_to 'Edit', edit_car_color_type_path(@car_color_type) %> |
<%= link_to 'Back', car_color_types_path %>
