<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @boat_year_model.name %>
</p>


<%= link_to 'Edit', edit_boat_year_model_path(@boat_year_model) %> |
<%= link_to 'Back', boat_year_models_path %>
