<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @caravan_total_owner.name %>
</p>


<%= link_to 'Edit', edit_caravan_total_owner_path(@caravan_total_owner) %> |
<%= link_to 'Back', caravan_total_owners_path %>
