<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @machine_user_email.name %>
</p>


<%= link_to 'Edit', edit_machine_user_email_path(@machine_user_email) %> |
<%= link_to 'Back', machine_user_emails_path %>
