<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @car_gearbox_type.name %>
</p>


<%= link_to 'Edit', edit_car_gearbox_type_path(@car_gearbox_type) %> |
<%= link_to 'Back', car_gearbox_types_path %>
