<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @caravan_dead_weight.name %>
</p>


<%= link_to 'Edit', edit_caravan_dead_weight_path(@caravan_dead_weight) %> |
<%= link_to 'Back', caravan_dead_weights_path %>
