<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @car_cover_image_name.name %>
</p>


<%= link_to 'Edit', edit_car_cover_image_name_path(@car_cover_image_name) %> |
<%= link_to 'Back', car_cover_image_names_path %>
