<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @machine_drive_type.name %>
</p>


<%= link_to 'Edit', edit_machine_drive_type_path(@machine_drive_type) %> |
<%= link_to 'Back', machine_drive_types_path %>
