<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @caravan_cover_image_name.name %>
</p>


<%= link_to 'Edit', edit_caravan_cover_image_name_path(@caravan_cover_image_name) %> |
<%= link_to 'Back', caravan_cover_image_names_path %>
