<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @car_user_email.name %>
</p>


<%= link_to 'Edit', edit_car_user_email_path(@car_user_email) %> |
<%= link_to 'Back', car_user_emails_path %>
