<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @moto_user_email.name %>
</p>


<%= link_to 'Edit', edit_moto_user_email_path(@moto_user_email) %> |
<%= link_to 'Back', moto_user_emails_path %>
