<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @caravan_information.name %>
</p>


<%= link_to 'Edit', edit_caravan_information_path(@caravan_information) %> |
<%= link_to 'Back', caravan_informations_path %>
