<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @machine_domicile_type.name %>
</p>


<%= link_to 'Edit', edit_machine_domicile_type_path(@machine_domicile_type) %> |
<%= link_to 'Back', machine_domicile_types_path %>
