<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @caravan_gross_weight.name %>
</p>


<%= link_to 'Edit', edit_caravan_gross_weight_path(@caravan_gross_weight) %> |
<%= link_to 'Back', caravan_gross_weights_path %>
