<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @boat_cover_image_name.name %>
</p>


<%= link_to 'Edit', edit_boat_cover_image_name_path(@boat_cover_image_name) %> |
<%= link_to 'Back', boat_cover_image_names_path %>
