<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @caravan_domicile_type.name %>
</p>


<%= link_to 'Edit', edit_caravan_domicile_type_path(@caravan_domicile_type) %> |
<%= link_to 'Back', caravan_domicile_types_path %>
