<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @moto_engine_type.name %>
</p>


<%= link_to 'Edit', edit_moto_engine_type_path(@moto_engine_type) %> |
<%= link_to 'Back', moto_engine_types_path %>
