<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @boat_domicile_type.name %>
</p>


<%= link_to 'Edit', edit_boat_domicile_type_path(@boat_domicile_type) %> |
<%= link_to 'Back', boat_domicile_types_path %>
