<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @moto_information.name %>
</p>


<%= link_to 'Edit', edit_moto_information_path(@moto_information) %> |
<%= link_to 'Back', moto_informations_path %>
