<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @machine_total_owner.name %>
</p>


<%= link_to 'Edit', edit_machine_total_owner_path(@machine_total_owner) %> |
<%= link_to 'Back', machine_total_owners_path %>
