<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @storage_equipment.name %>
</p>


<%= link_to 'Edit', edit_storage_equipment_path(@storage_equipment) %> |
<%= link_to 'Back', storage_equipments_path %>
