<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @car_engine_size.name %>
</p>


<%= link_to 'Edit', edit_car_engine_size_path(@car_engine_size) %> |
<%= link_to 'Back', car_engine_sizes_path %>
