<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @caravan_user_email.name %>
</p>


<%= link_to 'Edit', edit_caravan_user_email_path(@caravan_user_email) %> |
<%= link_to 'Back', caravan_user_emails_path %>
