<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @boats_position_town_type.name %>
</p>


<%= link_to 'Edit', edit_boats_position_town_type_path(@boats_position_town_type) %> |
<%= link_to 'Back', boats_position_town_types_path %>
