<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @caravan_lenght.name %>
</p>


<%= link_to 'Edit', edit_caravan_lenght_path(@caravan_lenght) %> |
<%= link_to 'Back', caravan_lenghts_path %>
