<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @moto_fuel_type.name %>
</p>


<%= link_to 'Edit', edit_moto_fuel_type_path(@moto_fuel_type) %> |
<%= link_to 'Back', moto_fuel_types_path %>
