<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "Tietoa palvelusta", about_path %></li>
      <li><%= link_to "Ota yhteyttä", contact_path %></li>
      <li><a href="http://tekniikanmaailma.fi/">Uutiset</a></li>
     <li><%= link_to "Käyttöoikeudet", usage_path %></li>
 <li><a href="http://www.facebook.com"><%= image_tag("facebook_login.gif") %></a></li>

  </nav>
</footer>

